{% extends 'app/layout.html' %}

{% block title %}Index{% endblock %}
{% block header %}
{% if messages %}
<ul class='messages'>
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"
      {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
{% for item in contents %}
<hr>
</p>
<img src='{{ item.photo.url }}' width='500' height='500'/>'
<p class='message_content'>{{item.content}}</p>
<p class='message_date'>{{item.pub_date}}</p>
<p class='message_owner'>
  <span class='message_counter'>
    {{item.like_count}}likes</span>
  <a href="{% url 'like' item.id %}"><button>♡</button></a>
</p>
{% endfor %}
{% endblock %}
