{% extends 'app/layout.html' %}

{% block title %}Index{% endblock %}
{% block header %}
{% if messages %}
<ul class='messages'>
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"
      {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
{% for item in contents %}
<hr>
  <div class='timeline'>
    <p class='message_owner'>{{item.owner}}</p>
    <img src='{{ item.photo.url }}' width='700' height='auto'>
    <p class='message_content'>{{item.content}}</p>
    <p class='message_subject'>Imagenet inference is "{{item.img_subject}}".</p>
    <p class='message_accuracy'>Probability     :      {{item.img_acc}}</p>
    <p class='message_date'>{{item.pub_date}}</p>
    <a href="{% url 'like' item.id %}"><button>♡</button></a>
    <span class='message_counter'>{{item.like_count}}likes</span>
  </div>
{% endfor %}
{% endblock %}
