{% load static %}
<!doctype html>
<html>
  <head>
    <meta chaset='utf-8'>
    <title>{% block titile %}{% endblock %}</title>
    <link rel='stylesheet' type='text/css'
          href="{% static 'app/style.css' %}" />
  </head>
  <header>
    <div>
      <ul>
      <li id='logo'>
        <a href="{% url 'index' %}">
          <img src={% static 'app/images/logo.png' %} alt="tomistagram"  height='50'>
        </a>
      </li>
      <li>
        <a href="{% url 'post'  %}">
          <img src={% static 'app/images/post.png' %} alt="post"  width='30'>
        </a>
      </li>
      <li>
        <a href='/admin/logout?next=/app/'>
          <img src={% static 'app/images/logout.png' %} alt="logout"  width='30'>
        </a>
      </li>
    </div>
  </header>
  <body>
    <div class='body_content'>
    <div class='body_content_inner'>
      <ul class='menu'>
              </ul>
      <div class='header'>{% block header %}{% endblock %}</div>
      <div class='content'>{% block content %}{% endblock %}</div>
      <div class='footer'>
        <hr>
       <div>
          <span style='float:right'>copyright 2019 Ryunosuke Tomiyama</span>
        </div>
        </hr>
      </div>
    </div>
  </body>
</html>
