@charset "UTF-8";

header{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  display:flex;
  justify-content: space-between;
}

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

a {text-decoration: none;}
a:hover {text-decoration: none;}
a:link { color: black; } /*リンクの色*/
a:visited { color: black; }/*訪問済みリンクの色*/
a:hover { color: black; } /*マウスオン時のリンクの色*/
a:active { color: blue; } /*クリックしている時のリンクの色*/

.post_content {
  margin-left: 10%;
  width: 80%;
}

.logo img {
  width: 200px;
  height: auto;
  margin-left: 80%;
  margin-top: 20px;
}

.login_user {
  font-size: 20px;
  text-align: right;
  padding: 105px 71px 0px 70px;
}

.recommend_user_table {
  text-align: center;
  font-size: 20px;
  width: 50%;
  height: auto;
  margin: 0;
  margin-top: 120px;
}

.post img {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

.recommend img {
  width: 30px;
  height: auto;
  margin-top: -2px;
  margin-left: 16px;
}

.logout img {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

.post_content {
  text-align: center;
}

ul{
  margin-top: 30px;
  margin-right: 10%;
  width: 10%;
  float: right;
  list-style: none;
  display:flex;
}

td {
  align: left;
}

.message_content {
  font-size: 20px;
  margin-top: 16px;
}

.message_owner {
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 20%;
  text-align: left;
}

.message_comment {
  text-align: left;
  margin-left: 20%;
}

.message_accuracy {
  font-size: 15px;
  margin-top: 6px;
}

.message_subject {
  font-size: 15px;
  margin-top: 6px;
}

.message_date {
  font-size: 15px;
  margin-top: 6px;
}

.like {
  font-size: 18px;
  margin-top: 8px;
}
